// Colors
$clr-primary: #31abdf;
$clr-dark-primary: #074e6a;

$clr-dark: #333333;
$clr-gray: #666666;

$clr-white: #ffffff;
$clr-light: #e3f7ff;

$clr-text: #777777;
$clr-body: #f5fcff;

// Linear Gradient
$primary-linear: linear-gradient(180deg, #31abdf 0%, #2784ac 100%);

