.btn {
    padding: 10px 20px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    border-radius: 50px;

    &:focus {
        box-shadow: none;
    }

    &-primary {
        --bs-btn-bg: #{$clr-primary};
        --bs-btn-hover-bg: #{$clr-dark-primary};
        --bs-btn-border-color: #{$clr-primary};
        --bs-btn-hover-border-color: #{$clr-dark-primary};
        --bs-btn-active-bg: #{$clr-primary};
        --bs-btn-active-border-color: #{$clr-primary};
    }
}
